In [1]:
#Tuple: ordered,immutable,allows duplicate element
mytuple=("shaid",10,1.02)
print(mytuple)

('shaid', 10, 1.02)

In [2]:
mytuple=tuple(["shaid",10,1.02])
print(mytuple)

('shaid', 10, 1.02)

In [3]:
mytuple=("shaid",10,1.02)
print(mytuple[0])
print(mytuple[1])
print(mytuple[2])
print(mytuple[3])

shaid
10
1.02

IndexError: tuple index out of range

In [4]:
mytuple=("shaid",10,1.02)
print(mytuple[-1])
print(mytuple[-2])
print(mytuple[-3])

1.02
10
shaid

In [5]:
mytuple=("shaid",10,1.02)
mytuple[0]="ali"
print(mytuple)

TypeError: 'tuple' object does not support item assignment

In [6]:
mytuple=("shaid",10,1.02)
for i in mytuple:
    print(i)

shaid
10
1.02

In [7]:
mytuple=("shaid",10,1.02)
if "shaid" in mytuple:
    print("yes")
else:
    print("no")

yes

In [8]:
mytuple=("shaid",10,1.02)
print(len(mytuple))

3

In [9]:
mytuple=("shaid",10,1.02,10,21,10,30,10)
print(mytuple.count(10))

4

In [11]:
mytuple=("shaid",10,1.02,10,21,10,30,10)
print(mytuple.index(10))

1

In [12]:
mytuple=("shaid",10,1.02,10,21,10,30,10)
list1=list(mytuple)
print(list1)

['shaid', 10, 1.02, 10, 21, 10, 30, 10]

In [13]:
mylist=["shaid",10,1.02,10,21,10,30,10]
tuple1=tuple(mylist)
print(tuple1)

('shaid', 10, 1.02, 10, 21, 10, 30, 10)

In [14]:
mytuole=(5,6,1,34,8,21,6,498,4)
a=mytuple[3:5]
print(a)

(10, 21)

In [15]:
mytuple="shaid",20
name,age=mytuple
print(name)
print(age)

shaid
20

In [16]:
mytuple=(1,2,3,4,6)
i1,i2,*i3=mytuple
print(i1)
print(i2)
print(i3)

1
2
[3, 4, 6]

In [19]:
import sys
mylist=[1,2,"shaid",100,1.05,True]
mytuple=(1,2,"shaid",100,1.05,True)
print(sys.getsizeof(mylist,"bytes"))
print(sys.getsizeof(mytuple,"bytes"))

104
88